VITE_API_BASE_URL=http://localhost:3001/api

# Replace with your actual deployed package ID
VITE_TOKEN_STANDARD_PACKAGE_ID=f823ea471b3490c3f81f0975bbfc0f884d68217510dce3f387eac4eec58e2e6a
VITE_CLOB_EXCHANGE_PACKAGE_ID=8e02305ce3c4154710ee0227ac547fc8a03e526d66fed2621bf31bdd1e1b247b

# Update Keycloak credentials for devnet
VITE_KEYCLOAK_URL=https://keycloak.wolfedgelabs.com:8443
VITE_KEYCLOAK_REALM=canton-devnet
VITE_KEYCLOAK_CLIENT_ID=canton-devnet
