VITE_API_BASE_URL=http://localhost:3001/api

# Replace with your actual deployed package ID
VITE_TOKEN_STANDARD_PACKAGE_ID=f823ea471b3490c3f81f0975bbfc0f884d68217510dce3f387eac4eec58e2e6a
VITE_CLOB_EXCHANGE_PACKAGE_ID=8f3672a0404ac896aa567f301e255061bb353807d014b8663aa13b827d0f414f

# Update Keycloak credentials for devnet
VITE_KEYCLOAK_URL=https://keycloak.wolfedgelabs.com:8443
VITE_KEYCLOAK_REALM=canton-devnet
VITE_KEYCLOAK_CLIENT_ID=canton-devnet
